<section class="card-container-row container">
  <div class="big-title-container"
       [@leftFadeInAnimation]="isAppear('bigTitle')"
       (appear)="appear('bigTitle')">
    <div>
      <h1 class="title-bg">10 ans<br>daventure</h1>
    </div>
  </div>
  <div>
    <div>
      <h1 class="mat-title big-title"
          [@rightFadeInAnimation]="isAppear('title')"
          (appear)="appear('title')"
      >Un voyage épique à travers les saisons !<br>Une communauté, une légende !</h1>
      <h2 class="mat-subheading-2 underline-title"
          [@rightFadeInAnimation]="isAppear('subTitle')"
          (appear)="appear('subTitle')">De Kraftopia à l'Ultime Saison</h2>
      <p class="darkerText"
         [@rightFadeInAnimation]="isAppear('text')"
         (appear)="appear('text')">
        Depuis 2016, Litopia a traversé les époques, les versions de Minecraft et les défis. Au cours de toutes ces saisons,
        le serveur a su créer un véritable esprit de groupe, basé sur la confiance, le respect et beaucoup de tryhard !
        Aujourd'hui, nous célébrons cette décennie avec une saison éternelle, monument vivant de notre histoire partagée.
      </p>
      <div class="call-to-action-container"
           [@rightFadeInAnimation]="isAppear('btn')"
           (appear)="appear('btn')">
        <a mat-flat-button color="primary" routerLink="/archives" href="/archives" >
          <span>Télécharger les maps</span>
          <mat-icon>cloud_download</mat-icon>
        </a>
      </div>
    </div>
  </div>
</section>

