.profile-container {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 2.5rem 1rem;
  min-height: calc(100vh - 100px);
  gap: 1rem;
}

.role {
  font-size: 1.2em;
}

.candidature {
  flex: 20;
}

.profile-recap {
  flex: 1 0 15rem
}
