<!--<div *ngIf="memberObs | async as member">
  <a [title]="member.minecraftUser!.minecraftNickname" class="profile-link">
    <img class="profile-img" src="https://mc-heads.net/head/{{member.minecraftUser!.minecraftUUID}}/left"
         alt="Tête de {{member.minecraftUser!.minecraftNickname}}">
    <div class="profil-content">
      <p class="user-name">{{ member.minecraftUser!.minecraftNickname }}</p>
      <p class="user-date">Date de candidature : {{ member.candidatureProposalAt | date:'dd MMM yyyy' }}</p>
      <p class="user-date">Date d'acceptation : {{ member.candidatureAcceptedAt | date:'dd MMM yyyy' }}</p>
      <p class="user-role">Rôle actuel : {{ member.role }}</p>
    </div>
  </a>
</div>
-->
<div>
  En construction
</div>
