.profile-link {
  background: var(--litopia-profile-link-bg);
}

.profile-link:hover {
  background: var(--litopia-profile-link-hover);
}

.profile-link:active {
  background: var(--litopia-profile-link-active);
}

.profile-link:visited {
  background: var(--litopia-profile-link-visited);

  &:hover {
    background: var(--litopia-profile-link-hover);
  }

  &:active {
    background: var(--litopia-profile-link-active);
  }
}

.user-date {
  color: gray;
}
