<section>
  <app-page-header
    [title]="'Nos Membres'"
    [img]="'litopia-comunity'"
    [imgAlt]="'Membres de litopia en chute libre'">
  </app-page-header>
</section>
<div class="members-container">
  <div class="admin">
    <section class="card card-manager">
      <h1>Unique Dieux</h1>
      <article *ngIf="uniqueGodObs | async as uniqueGodList" class="admin__section">
        <app-profil-card *ngFor="let admin of uniqueGodList" [user]="admin"></app-profil-card>
      </article>
      <h1>Litodieux</h1>
      <article *ngIf="litogodObs | async as litogodList" class="admin__section">
        <app-profil-card *ngFor="let litoGod of litogodList" [user]="litoGod"></app-profil-card>
      </article>
    </section>
  </div>
  <section class="litopien-container">
    <article class="card card-manager">
      <div class="litopien__header">
        <h1 class="litopien__header__title">Membres du serveur</h1>
        <mat-form-field appearance="outline" class="litopien__header__search">
          <mat-label>
            <mat-icon>search</mat-icon>
            <span>Recherche</span></mat-label>
          <input matInput [formControl]="searchControl"/>
        </mat-form-field>
      </div>
      <div class="litopien__grid">

        <app-profil-card *ngFor="let user of membersFinalObs | async" [user]="user"></app-profil-card>
      </div>
    </article>
  </section>
</div>
<app-footer></app-footer>
