.timeline-item-container {
  display: flex;
  position: relative;
  padding: 30px;
}

.timeline-item-container:not(:last-child) {
  margin-bottom: -5px;
}

.timeline-item-container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  border-top: 5px solid var(--litopia-primary);
  border-bottom: 5px solid var(--litopia-primary);
}

.timeline-item-container:nth-child(odd) {
  flex-direction: row;
  padding-left: 30px;
}

.timeline-item-container:nth-child(odd)::before {
  right: 50px;
  left: 0;
  border-left: 5px solid var(--litopia-primary);
  border-radius: 50px 0 0 50px;
}

.timeline-item-container:nth-child(even) {
  flex-direction: row-reverse;
  padding-right: 30px;
}

.timeline-item-container:nth-child(even)::before {
  left: 50px;
  right: 0;
  border-right: 5px solid var(--litopia-primary);
  border-radius: 0 50px 50px 0;
}

.timeline-flag-icon {
  color: var(--litopia-primary);
}

.timeline-container {
  background-color: var(--litopia-step-10);
}
