<section>

  <app-page-header
    [title]="'Adhésion'"
    [img]="'litopia-s2-spawn'"
    [imgAlt]="'Spawn Litopia de la saison 2'">
  </app-page-header>

  <div class="page-content-container">
    <div class="card-container-row">
      <div class="element-in-row">

        <mat-icon svgIcon="warning" class="resize-warning"></mat-icon>

        <div class="quote-join-us-warn">
          <p class="m-0">
                        <span class="">
                            Pour nous rejoindre, il est <u class="text-underline">impératif</u> d'écrire une candidature soignée,
                        </span>
            <span class="">
                            Il est également préférable de posséder <u class="text-underline">un micro</u> pour discuter plus facilement avec les autres litopiens.
                        </span>
          </p>
        </div>

      </div>
    </div>

    <div>
      <div class="flex-row">

        <div>
          <div class="card-container-row">
            <div>

              <h2 class="">
                Qui peut nous rejoindre ?
              </h2>

              <p class="">
                Absolument tout le monde ! Le système de whitelist n'est pas fait pour sélectionner des joueurs selon
                leur âge
                ou leur niveau de jeu. Il nous permet seulement de mieux réguler l'arrivée de nouveaux membres et de
                contrôler
                la motivation des arrivants. Nous n'acceptons pas, en revanche, les versions crackées de Minecraft.
              </p>

            </div>
          </div>
        </div>

        <div>
          <div class="card-container-row">
            <div>

              <h2 class="">
                Les conditions d'adhésion
              </h2>

              <p class="">Par le biais de votre candidature, vous devez donner à la communauté de Litopia une bonne
                raison d'être accepté. Il vous faudra donc nous prouver votre motivation. Nous utilisons aussi les
                candidatures comme
                "filtres anti-perturbateurs", alors soignez votre présentation 😉.
              </p>

            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="card-container-row">
      <div>

        <h2 class="">
          Comment sa fonctionne ?
        </h2>

        <p>
          Lorsque vous postulez, votre candidature apparaîtra automatiquement sur notre Discord.Les Litopiens pourront
          alors voter pour ou contre votre arrivée. </p>
        <p>Pour être accepté, vous devrez obtenir un minimum de <u class="text-underline">75% de votes positifs</u> et <u class="text-underline">moins de 50% de votes
            neutres</u>.
        </p>
        <p>Lorsque <u class="text-underline">35% des Litopiens actifs</u> auront voté pour votre
          candidature, le <u class="text-underline">décompte des votes sera arrêté</u>  et vous serez dès lors automatiquement accepté ou refusé.
        </p>
      </div>
    </div>

    <div class="flex-row flex-center">
      <div class="fit-content">
        <div class="call-to-action-container">
          <a mat-flat-button color="primary" href="/nous-rejoindre/2" routerLink="/nous-rejoindre/2">
            <span>Suivant</span>
            <mat-icon>arrow_forward</mat-icon>
          </a>
        </div>
      </div>
    </div>

  </div>

</section>
<app-footer></app-footer>
