@use "sass:color";
@use "sass:map";
@use "@angular/material" as mat;
@use "./litopia-base" as base;
@use "./theme-colors" as theme-colors;

@include mat.elevation-classes();
@include mat.app-background();

@import "https://fonts.googleapis.com/icon?family=Material+Icons+Outlined";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import "flex-utils";

$light-background: #e6f2e6;
$light-app-bar: color.adjust($light-background, $lightness: -5%, $space: hsl);
$light-surface: color.adjust($light-background, $lightness: 5%, $space: hsl);
$light-step-5: $light-app-bar;
$light-step-10: color.adjust($light-background, $lightness: -10%, $space: hsl);
$light-step-20: color.adjust($light-background, $lightness: -20%, $space: hsl);
$light-step-30: color.adjust($light-background, $lightness: -30%, $space: hsl);
$light-profile-bg: color.adjust($light-surface, $lightness: 10%, $space: hsl);
$light-profile-hover: color.adjust(
  $light-surface,
  $lightness: -10%,
  $space: hsl
);
$light-profile-active: color.adjust(
  $light-surface,
  $lightness: -20%,
  $space: hsl
);
$light-profile-visited: color.adjust(
  $light-surface,
  $lightness: -2%,
  $space: hsl
);
$light-tooltip: color.adjust(#0a1e0a, $lightness: 20%, $space: hsl);

$dark-background: #181e24;
$dark-surface: #1d242c;
$dark-step-5: $dark-surface;
$dark-step-10: color.adjust($dark-background, $lightness: 10%, $space: hsl);
$dark-step-20: color.adjust($dark-background, $lightness: 20%, $space: hsl);
$dark-step-30: color.adjust($dark-background, $lightness: 30%, $space: hsl);
$dark-profile-bg: color.adjust($dark-surface, $lightness: 10%, $space: hsl);
$dark-profile-hover: color.adjust($dark-surface, $lightness: -10%, $space: hsl);
$dark-profile-active: color.adjust(
  $dark-surface,
  $lightness: -20%,
  $space: hsl
);
$dark-profile-visited: color.adjust(
  $dark-surface,
  $lightness: -2%,
  $space: hsl
);

$dark-text-base: #181e24;
$light-text-base: #fefefe;
$light-text: rgba($dark-text-base, 0.87);
$light-text-muted: rgba($dark-text-base, 0.54);
$light-divider: rgba($dark-text-base, 0.12);
$light-outline: rgba($dark-text-base, 0.24);
$dark-text: $light-text-base;
$dark-text-muted: rgba($light-text-base, 0.7);
$dark-divider: rgba($light-text-base, 0.12);
$dark-outline: rgba($light-text-base, 0.3);

$warn-color: #d34646;

$light-theme-config: (
  color: (
    primary: theme-colors.$orange-palette,
    tertiary: theme-colors.$green-palette,
    theme-type: light,
  ),
  typography: (
    plain-family: "Poppins",
    brand-family: "Poppins",
    bold-weight: 600,
    medium-weight: 500,
    regular-weight: 400,
  ),
  density: (
    scale: 0,
  ),
);

$dark-theme-config: (
  color: (
    primary: theme-colors.$green-palette,
    tertiary: theme-colors.$orange-palette,
    theme-type: dark,
  ),
  typography: (
    plain-family: "Poppins",
    brand-family: "Poppins",
    bold-weight: 600,
    medium-weight: 500,
    regular-weight: 400,
  ),
  density: (
    scale: 0,
  ),
);

$light-theme: mat.define-theme($light-theme-config);
$dark-theme: mat.define-theme($dark-theme-config);

$light-mode: (
  primary: #df9b35,
  on-primary: $light-text,
  primary-container: #f5e1c2,
  on-primary-container: $light-text,
  secondary: #6eba5e,
  on-secondary: $light-text,
  secondary-container: #a0ed8d,
  on-secondary-container: $light-text,
  tertiary: #6eba5e,
  on-tertiary: $light-text,
  tertiary-container: #a0ed8d,
  on-tertiary-container: $light-text,
  error: $warn-color,
  on-error: $light-text-base,
  surface: $light-background,
  surface-variant: $light-step-10,
  surface-container-lowest: $light-background,
  surface-container-low: $light-surface,
  surface-container: $light-surface,
  surface-container-high: $light-surface,
  surface-container-highest: $light-surface,
  inverse-surface: $light-tooltip,
  inverse-on-surface: $light-text-base,
  on-surface: $light-text,
  on-surface-variant: $light-text-muted,
  outline: $light-outline,
  outline-variant: $light-divider,
  app-bar: $light-app-bar,
  background: $light-background,
  card: $light-surface,
  divider: $light-divider,
  step-5: $light-step-5,
  step-10: $light-step-10,
  step-20: $light-step-20,
  step-30: $light-step-30,
  profile-bg: $light-profile-bg,
  profile-hover: $light-profile-hover,
  profile-active: $light-profile-active,
  profile-visited: $light-profile-visited,
  snackbar-text: $light-text,
  text-soft: rgba(#000000, 0.75),
  big-title-weight: 600,
  section-subtitle-size: 20px,
  section-subtitle-line-height: 30px,
  section-subtitle-weight: 500,
  option-selected-text: #df9b35,
  option-selected-layer: rgba(#df9b35, 0.12),
);

$dark-mode: (
  primary: #30f230,
  on-primary: rgba($dark-text-base, 0.87),
  primary-container: #b3ffb3,
  on-primary-container: rgba($dark-text-base, 0.87),
  secondary: #df9b35,
  on-secondary: rgba($dark-text-base, 0.87),
  secondary-container: #f5e1c2,
  on-secondary-container: rgba($dark-text-base, 0.87),
  tertiary: #df9b35,
  on-tertiary: rgba($dark-text-base, 0.87),
  tertiary-container: #f5e1c2,
  on-tertiary-container: rgba($dark-text-base, 0.87),
  error: $warn-color,
  on-error: $light-text-base,
  surface: $dark-background,
  surface-variant: $dark-step-10,
  surface-container-lowest: $dark-background,
  surface-container-low: $dark-surface,
  surface-container: $dark-surface,
  surface-container-high: $dark-surface,
  surface-container-highest: $dark-surface,
  inverse-surface: $dark-step-20,
  inverse-on-surface: $light-text-base,
  on-surface: $dark-text,
  on-surface-variant: $dark-text-muted,
  outline: $dark-outline,
  outline-variant: $dark-divider,
  app-bar: $dark-surface,
  background: $dark-background,
  card: $dark-surface,
  divider: $dark-divider,
  step-5: $dark-step-5,
  step-10: $dark-step-10,
  step-20: $dark-step-20,
  step-30: $dark-step-30,
  profile-bg: $dark-profile-bg,
  profile-hover: $dark-profile-hover,
  profile-active: $dark-profile-active,
  profile-visited: $dark-profile-visited,
  snackbar-text: $dark-text,
  text-soft: rgba($light-text-base, 0.75),
  big-title-weight: 500,
  section-subtitle-size: 16px,
  section-subtitle-line-height: 28px,
  section-subtitle-weight: 400,
  option-selected-text: #30f230,
  option-selected-layer: $dark-divider,
);

@mixin litopia-css-vars($mode) {
  --primary-color: #{map.get($mode, primary)};
  --litopia-primary: #{map.get($mode, primary)};
  --litopia-accent: #{map.get($mode, tertiary)};
  --litopia-warn: #{map.get($mode, error)};
  --litopia-text: #{map.get($mode, on-surface)};
  --litopia-text-muted: #{map.get($mode, on-surface-variant)};
  --litopia-outline: #{map.get($mode, outline)};
  --litopia-divider: #{map.get($mode, divider)};
  --litopia-background: #{map.get($mode, background)};
  --litopia-app-bar: #{map.get($mode, app-bar)};
  --litopia-card: #{map.get($mode, card)};
  --litopia-step-5: #{map.get($mode, step-5)};
  --litopia-step-10: #{map.get($mode, step-10)};
  --litopia-step-20: #{map.get($mode, step-20)};
  --litopia-step-30: #{map.get($mode, step-30)};
  --litopia-profile-link-bg: #{map.get($mode, profile-bg)};
  --litopia-profile-link-hover: #{map.get($mode, profile-hover)};
  --litopia-profile-link-active: #{map.get($mode, profile-active)};
  --litopia-profile-link-visited: #{map.get($mode, profile-visited)};
  --litopia-snackbar-text: #{map.get($mode, snackbar-text)};
  --litopia-text-soft: #{map.get($mode, text-soft)};
  --litopia-big-title-weight: #{map.get($mode, big-title-weight)};
  --litopia-section-subtitle-size: #{map.get($mode, section-subtitle-size)};
  --litopia-section-subtitle-line-height: #{map.get(
      $mode,
      section-subtitle-line-height
    )};
  --litopia-section-subtitle-weight: #{map.get($mode, section-subtitle-weight)};
}

@mixin litopia-system-overrides($mode) {
  @include mat.theme-overrides(
    (
      primary: map.get($mode, primary),
      on-primary: map.get($mode, on-primary),
      primary-container: map.get($mode, primary-container),
      on-primary-container: map.get($mode, on-primary-container),
      secondary: map.get($mode, secondary),
      on-secondary: map.get($mode, on-secondary),
      secondary-container: map.get($mode, secondary-container),
      on-secondary-container: map.get($mode, on-secondary-container),
      tertiary: map.get($mode, tertiary),
      on-tertiary: map.get($mode, on-tertiary),
      tertiary-container: map.get($mode, tertiary-container),
      on-tertiary-container: map.get($mode, on-tertiary-container),
      error: map.get($mode, error),
      on-error: map.get($mode, on-error),
      surface: map.get($mode, surface),
      surface-variant: map.get($mode, surface-variant),
      surface-container-lowest: map.get($mode, surface-container-lowest),
      surface-container-low: map.get($mode, surface-container-low),
      surface-container: map.get($mode, surface-container),
      surface-container-high: map.get($mode, surface-container-high),
      surface-container-highest: map.get($mode, surface-container-highest),
      inverse-surface: map.get($mode, inverse-surface),
      inverse-on-surface: map.get($mode, inverse-on-surface),
      on-surface: map.get($mode, on-surface),
      on-surface-variant: map.get($mode, on-surface-variant),
      outline: map.get($mode, outline),
      outline-variant: map.get($mode, outline-variant),
      surface-tint: map.get($mode, primary),
    )
  );
}

@mixin litopia-component-overrides($mode) {
  @include mat.option-overrides(
    (
      selected-state-label-text-color: map.get($mode, option-selected-text),
      selected-state-layer-color: map.get($mode, option-selected-layer),
    )
  );

  @include mat.menu-overrides(
    (
      container-color: map.get($mode, card),
    )
  );

  @include mat.dialog-overrides(
    (
      container-color: map.get($mode, card),
    )
  );

  @include mat.select-overrides(
    (
      panel-background-color: map.get($mode, card),
    )
  );
}

@include mat.typography-hierarchy($dark-theme, $back-compat: true);

h1.big-title {
  margin: 0 0 16px;
  font-size: 22px;
  line-height: 32px;
  font-weight: var(--litopia-big-title-weight);
}

h1.underline-title,
h1.article-title {
  margin: 0 0 16px;
  font-size: 22px;
  line-height: 33px;
  font-weight: 600;
}

h2.underline-title {
  margin: 0 0 16px;
  font-size: var(--litopia-section-subtitle-size);
  line-height: var(--litopia-section-subtitle-line-height);
  font-weight: var(--litopia-section-subtitle-weight);
}

h3.underline-title {
  margin: 0 0 16px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

p.darkerText {
  margin: 0 0 12px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: var(--litopia-text-soft);
}

html {
  color-scheme: dark;
  @include mat.theme($dark-theme-config);
  @include litopia-system-overrides($dark-mode);
  @include litopia-component-overrides($dark-mode);
  @include litopia-css-vars($dark-mode);
  @include mat.color-variants-backwards-compatibility($dark-theme);
}

.light-theme {
  color-scheme: light;
  @include mat.theme($light-theme-config);
  @include litopia-system-overrides($light-mode);
  @include litopia-component-overrides($light-mode);
  @include litopia-css-vars($light-mode);
  @include mat.color-variants-backwards-compatibility($light-theme);
}

body,
body.mat-app-background {
  background-color: var(--litopia-background);
  color: var(--litopia-text);
  font-size: 14px;
  line-height: 20px;
}

// Handle buttons appropriately, with respect to line-height
.mat-mdc-raised-button,
.mat-mdc-outlined-button,
.mat-mdc-unelevated-button {
  padding: 0 1.15em;
  margin: 0 0.65em;
  min-width: 3em;
  line-height: 36.4px;
}

.mat-mdc-standard-chip {
  padding: 0.5em 0.85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 24px;
  font-family: "Material Icons Outlined", "Material Icons", sans-serif;
  .mat-badge-content {
    font-family: "Poppins", sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  transition:
    background-color 0.3s ease-in-out,
    border 0.3s ease-in-out;
}
