.navbar-container-lg,
.topbar-container-sm,
.navbar-container-sm {
  background-color: var(--litopia-app-bar);
  color: var(--litopia-text);
}

.litopia-title {
  color: var(--litopia-primary);
  font-weight: 600;
}

.nav-link:hover {
  color: var(--litopia-primary);
}

.selected {
  color: var(--litopia-primary);
}

.navbar-container-lg {
  border-bottom: var(--litopia-primary) solid 2px;
}

.navbar-container-lg .nav-link:hover::after,
.navbar-container-lg .nav-link:hover::before {
  background-color: var(--litopia-primary);
}

.topbar-container-sm {
  border-bottom: solid var(--litopia-primary) 2px;
}

.navbar-container-sm {
  border-top: var(--litopia-primary) solid 2px;
}
